<div class="container-fluid">

    <div *ngIf="(allRegions$|async) as allRegions">

        <div class="row" *ngIf="allRegions?.length <= 0; else content">
            <span>No items found</span>
        </div>

        <ng-template #content>
            <div class="row">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Population</th>
                                <th>Capital</th>
                                <th>Flag</th>
                            </tr>
                        </thead>
                        <tbody>
                        <ng-container *ngFor="let region of allRegions; let i = index">
                            <tr>
                                <td class="text-left td-table-region" *ngIf="!region.expanded">
                                    <span (click)="toggleExpanded(region)">&#9658;</span>
                                </td>
                                <td class="text-left td-table-region" *ngIf="region.expanded">
                                    <span type="button" (click)="toggleExpanded(region)">&#9660;</span>
                                </td>
                                <td class="td-table-region">{{region.name}}</td>
                                <td class="td-table-region">&#160;</td>
                                <td class="td-table-region">&#160;</td>
                                <td class="td-table-region">&#160;</td>
                            </tr>
                            <ng-container *ngIf="region.expanded">
                                <tr *ngFor="let country of region.countries; let i = index">
                                    <td class="td-table-country">&#160; &#160; {{i + 1}}</td>
                                    <td class="td-table-country">{{country.name}}</td>
                                    <td class="td-table-country" >{{country.population}}</td>
                                    <td>{{country.capital}}</td>
                                    <td><img width="100" [src]="country.flag"></td>
                                </tr>
                            </ng-container>
                        </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </ng-template>

    </div>
</div>
